body{
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.middle{
    background: url("../Images/school_banner.jpg")no-repeat center center/cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.middle h1{
    font-size: 40px;
    color: gold;
}
.middle p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.middle a{
    margin-top: 15px;
    padding: 20px 10px;
    background: gold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.middle a:hover{
    background: #555;
    color: gold;
    transition: background 0.3s ease, color 0.3s ease;
}
.about{
    padding: 40px;
    text-align: center;
}
.gallery{
    padding: 40px;
    text-align: center;
}
.news{
    padding: 40px;
    text-align: center;
}
.news_container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.news_card{
    background: #333;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.news_card:hover{
    background: gold;
    color: black;
    font-weight: bold;
    transform: translateY(-3px);
    transition: color 0.3s ease, background 1s ease, transform 1s ease;
}
.gallery grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.gallery_container img{
    width: 450px;
    border-radius: 10px;
    height: 300px;
}
footer{
    background: #222;
    text-align: center;
    padding: 20px;
}
.top_section{
    background-color: #514d4c;
    padding: 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.school_logo{
    float: left;
    width: 135px;
    margin-right: 10px;
    margin-left: 10px;
}
.school_name_title{
    padding-top: 0px;
    color: gold;
    font-size: 27px;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #555;
    font-family: 'Orbitron', sans-serif;
}
.links_section{
    padding-left: 360px;
    padding-top: 90px;
}
.links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.links a:hover{
    color: gold;
    background-color: #555;
}
.about{
    background: #222;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
.about:hover{
    color: gold;
    transition: color 0.3s ease;
}
.academics{
    background: #222;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
.academics ul{
    list-style: none;
    padding: 0;
}
.academics li{
    background: #333;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
}
.academics li:hover{
    background-color: #555;
    color: gold;
    font-weight: bold;
    transform: translateY(-3px);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.contact{
    background: #222;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
}
.contact textarea{
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
}
.contact button{
    padding: 10px;
    background: gold;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.contact button:hover{
    background-color: white;
    transition: background-color 0.5s ease;
}
